# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS specific
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# Large model files (optional, uncomment if you don't want to push models)
# *.h5
# *.hdf5
# *.pb
# *.tflite
